<% if @list.errors.any? %>
    <% @list.errors.full_messages.each do |msg| %>
       <div class="warning"> <%= msg %></div>
    <% end %>
<% end %>
<%= form_with model: list, local: true do |form| %>
    <p>
        Title: <%= form.text_field :title %>
    </p>
    <p>
        Category: <%= form.text_field :category %>
    </p>

        <%= form.submit %>
<% end %>